.container-formation{


    background: linear-gradient(119.64deg, rgba(35, 56, 118, 0.21) 25.8%, rgba(92, 244, 64, 0.28) 101.22%);

}

.formation{
    padding: 100px;
    max-width: 1728px;
    margin: auto;
   
}

.formation-text {
    width: 60%;
}

.formation-text h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}
.cards-formation{
    display: flex ;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;

}
.card-formation{
    width: 30%;
    
    height: 400px;
    padding: 5px;
    background-color: #E8EBF3;
    border-radius: 10px;

}

.img-formation{
    width: 100%;
    height: 65%;
    background-image: url('../assets/img/presentation3.png');
    background-size: cover;
    
}

.title-formation{
    margin-top: 20px;
    margin-top: 20px;
display: block;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 17px;

/* primary-blue-500 */

color: #1B3987;
}

.btn-formation {

    display: inline-block;
    background: #8CC2B1;
    border-radius: 15px;
    padding: 5px;
    margin-top: 5px;
}

@media screen and (max-width:992px) {
    .formation{
        padding: 30px;
    }

    .card-formation{
        width: 45%;
        
        height: 300px;
        padding: 5px;
        background-color: #E8EBF3;
        border-radius: 10px;
    
    }
    .formation-text h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
    }
}

@media screen and (max-width:562px) {
    
    .formation{

     
    }

    .formation-text{
        width: 100%;
        margin-right: 30px;
    }

    .cards-formation{
        display: flex ;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content: start;
        overflow: hidden;
    
    }
    .card-formation{
        min-width: 250px;
        display: block;
        height: 300px;
        padding: 5px;
        background-color: #E8EBF3;
        border-radius: 10px;
        overflow: hidden;
    
    }

    .formation-text h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
    }


  


}

