.heros-container{

    background-image: url('../assets/img/heros.png');
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #1B3987 ;
    height: 80vh;
    max-height: 716px;


}

.heros{
    display: flex;
    max-width: 1728px;
    margin: auto;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 20px;
    padding: 100px 0 100px 100px;
    justify-content: flex-start;
    align-items: top;

}

.heros .slide-text .title{
    margin-top: 0;
    color: rgb(255, 255, 255);
    transition: all 2s !important;
}  

.heros .slide-text {
    width: 50%;
    color: #fff;

}

.heros .slide-text h1{

        display: flex;
        height: 130px;
        align-items: center;
   
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: normal;

        /* secondary-green-50 */

        color: #E6F2EE;
}


.heros .slide-text p {
  
}
.heros .slide-img{
    display:flex;
    overflow: hidden;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    height: 300px;

   
}

.heros .slide-img div{
    display: block;
    border-radius: 5px;
    background-color: antiquewhite;
    overflow: hidden;
    transition:  all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55)!important
}



/* configuration 1 */

.config1 .slide-img1{

    min-width: 257px;
    height: 300px;
    background-image: url('../assets/img/slide1.png');
    background-size: cover;
    order: 1;

}

.config1 .slide-img2{

    min-width: 200px;
    height: 275px;

    background-image: url('../assets/img/slide2.png');
    background-size: cover;
    order: 2;

}

.config1 .slide-img3{

    min-width: 175px;
    height: 250px;
    background-image: url('../assets/img/slide3.png');
    background-size: cover;
    order: 3;

}


/* configuration2 */


.config2  .slide-img1{
    min-width: 175px;
    height: 250px;


    background-image: url('../assets/img/slide1.png');
    background-size: cover;
    order: 3;

}

.config2 .slide-img2{
    min-width: 257px;
    height: 300px;

    background-image: url('../assets/img/slide2.png');
    background-size: cover;
    order: 1;

}


.config2 .slide-img3{
    min-width: 200px;
    height: 275px;

    background-image: url('../assets/img/slide3.png');
    background-size: cover;
    order:2;

}



/* configuration3 */


.config3 .slide-img1{
    min-width: 200px;
    height: 275px;

    background-image: url('../assets/img/slide1.png');
    background-size: cover;
    order: 3;

}

.config3 .slide-img2{
    min-width: 175px;
    height: 250px;


    background-image: url('../assets/img/slide2.png');
    background-size: cover;
    order: 3;

}

.config3 .slide-img3{
    min-width: 257px;
    height: 300px;

    background-image: url('../assets/img/slide3.png');
    background-size: cover;
    order:1 ;

}



.slide-text-hidden {
    color: #1B3987 !important;
    display: none !important;
}


.contact-link{
    color:white;
    margin-left: 25px ;
}

.slide-progress{
    margin:0;
    padding: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.534);
 /*    position: absolute ;
    bottom: 0; */

    margin-top: 20px;
}

.slide-progress span{
    display: block;
    margin: 0;
    width: 33.3%;
    height: 100%;
    background-color: #057A55;
    transition:  all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55)!important
}

.progress-1{
    width: 33.3% !important ;
}

.progress-2{
    width: 67% !important;
}

.progress-3{
    width: 100% !important;
}

@media screen and (max-width:1200px) {
    
    .heros .slide-text h1{
   
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;


        /* secondary-green-50 */

        color: #E6F2EE;
}
}

@media screen and (max-width:992px){
    .heros{
        padding: 100px 0 100px 30px;
        
    }

    .heros .slide-text h1{
        height: 100px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: normal;

        /* secondary-green-50 */

        color: #E6F2EE;
}

    .heros .slide-text {
        width: 100%;
      
    
    }

    
    .heros .slide-img{
        transform: scale(0.9);
    }
    
}

@media screen and (max-width:572px) {

    .heros{
        padding :50px 40px;
       
    }
    

    .heros .slide-text{
        width: 100%;
        margin: 0;

        text-align: center;
    }

    .heros .slide-progress{
        display: none;
    }

    .heros .slide-img{
        display: none;
    }
    
}