*{
  -moz-box-sizing: border-box !important;
}

body {
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
    font-family: montserrat;
  }
  
  .container{
    display: block;
    
  }

  .green{
    color:#1D9A58 !important ;
  }