/* proprietes generales de la navbar */

.navbar{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin: 0;
    padding: 10px 100px;

    
    z-index: 100;

  
}

.navbar .navlink{
    margin: 0;
    padding: 0;
    flex-grow: 0.5;
}
.navbar ul li{
    text-decoration: none;
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #454545;
   font : var(--body-Copy) !important;

}

.navbar .navlink ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    gap:2%;
    margin: auto;
    padding: 0;
}


.navbar .logo img {
    margin: 0;
    padding: 0;
    width: 69px;
}


@media screen and (max-width:1100px) {

    .navbar{
        padding-right:30px ;
       
    }



}    

@media screen and (max-width:992px) {

    .navbar{
        padding: 10px 40px;
       
    }

    .navbar .navlink {
        display: flex;
        width: 0%;
        height: 100vh;
        position: absolute;
        top: 0;
        left:100%;
        background-color: rgba(255, 255, 255, 0.486);
        
        backdrop-filter: blur(10px);
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
      
        overflow-x: hidden;

    }

    .navbar .navlink ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;  
        align-items: center;
        gap:25px;
    }
    
    .navbar .navlink ul a{

        color: #fff;
        font-weight:normal;
        transform: scale(1.5);

    }

    .navbar .button-component{
        display :none;
    }
    .navbar .mobile-navlink{
        width: 100%;
        left:0;
        background:rgba(27, 58, 135, 0.342);
    }


}

@media screen and (max-width:576px){
    .navbar{
        padding: 10px 40px;
    }
}
