.newsletter{
    padding: 100px;
    background-color: var(--neutral-grey-100);
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.newsletter .text{
    width: 34%;
    
}

.newsletter .text p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
}

.newsletter .input-bloc{
    width: 50%;
    height: 70px;
    background-color: #E8EBF3;
    border-radius: 5px;
    

    gap: 0;

}

.newsletter .input-bloc form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
    background-color: #E8EBF3;
    border-radius: 5px;
    padding: 0px 5px;

    

}

.newsletter .input-bloc input{
    border: none;
    background-color: #E8EBF3;
    display:block;
    height: 85%;
    width: 70%;
    border-radius: 5px;
    box-sizing: border-box !important;
    padding: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;

/* identical to box height */


/* primary-blue-200 */

color: #96A4C8;
}

.newsletter .input-bloc input:focus{
    outline: none; 
    background: #E6F2EE;
    height:85%;
    color: var(--primary-blue-500);

}


.newsletter .input-bloc button{
    width: 30%;
    height:85%;
    background-color: var(--primary-blue-400);
    border-radius: 5px;
    border: none;
    /* body-copy | bold */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    /* identical to box height */


    color: #FFFFFF;



}

@media screen and (max-width:992px) {
    .newsletter{
        padding: 30px;
        height: auto;
    }

    .newsletter .text {
        width: 45%;
    }
}

@media screen and (max-width:562px) {

    .newsletter{
        display: block;
        justify-content: center;
        height: auto;
        
    }
    .newsletter .text{
        display: block;
        width: 100%;
    }

    .newsletter .input-bloc{
        display: block;
        width: 100% !important;
        height: auto;
        background-color: #e6f2ee00;
        padding: 0;
    }

    .newsletter .input-bloc form{
        width: 100%;
        display: block;
        justify-content: space-between;
        align-items:center;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 0px;
        padding: 0px 5px;
        margin: 0;

    
        
    
    }

    .newsletter .input-bloc form input{
        display: block;
        width: 100%;
        height: 75px;
        margin-bottom: 10px;
        border-radius: 0px;
        text-align: center;
    }

    .newsletter .input-bloc form button{
        display: block;
        width: 100%;
        height: 75px;
        border-radius: 0px;
    }

    .newsletter .input-bloc input:focus{
        outline:none; 
        background: #E6F2EE;
        height:75px;
        color: var(--primary-blue-500);
    
    }
    
}