.services{
    background-color: #E8EBF3;
    padding: 100px 100px;

}

.service-title , .service-description{
    text-align: start;
    width: 50%;
    
}

.service-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
}

.services-name{
    margin-top: 50px;
}
.services-name ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: space-around ;
    padding: 0;
  
}
.services-name ul li{
    
    list-style-type: none ;
    font-family: 'Poppins';
    font-style: medium;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.service-progress{
    margin: 0;
    padding: 0;
    height: 6px;
    background-color: #fff;

}

.service-progress span{
    margin: 0;
    padding: 0;
    display: block;
    width: 25%;
    height: 100%;
    background-color: #1B3987;
}

.navigation{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    gap: 5px;
}

.prev {
    background-color: #A3A3A3;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}


.next {
    background-color: #667AAF;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.prev:hover ,.next:hover {
    margin: 0;
    padding: 0;
    background-color: #1B3987;
}

.content{
    display: flex;
    justify-content: space-around;
   align-items:center ;

}

.content .slide-image{
    padding: 0;
    width: 34%;
    height: 300px;
    background: url('../img/slide1.png') no-repeat;
    border-radius: 5px;
    margin: 0;
    background-size: cover ;


}

.content .slide-text{
    padding: 0;
    width: 34%;
}
.content .slide-text h2{
    padding-top: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 29.3px;
    line-height: 36px;
    text-transform: capitalize;
    color: #04573C;
    text-align: start;

}

.content .slide-text p{
    color: var(--neutral-grey-900);
    text-align: start;
}

.service-icons{
    display: flex;
    gap: 30px;
}

.service-progress2{

    display: none;

}
@media screen and (max-width:992px) {
    .services{
        padding: 100px 30px;
    
    }
    .service-title , .service-description{
        
        width: 70%;
    }

    .content .slide-text{
        width: 50%;
    }
    .content .slide-image{
        width: 40%;
    }
}

@media screen and (max-width:572px) {
    
    .service-title , .service-description{
        
        width: 100%;
        text-align: center;
    }

    .content{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 0px;
        height: 300px;
        border-radius: 5px;
        margin: 0;
        padding: 0;
        background-color: var(--primary-blue-400);

    }

    
    .content  .slide-image {
        width: 100%;
        height: 60%;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
       }

    .content   .slide-text{
        box-sizing: border-box;
        padding-left:15px;
        width: 100%;
        height: 30%;
        overflow: hidden;
    }

    .content .slide-text h2{
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        text-transform: capitalize;

        /* neutral-grey-550 */

        color: #FDFDFD;

    }

    .content .slide-text p{
        margin: 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        
        /* primary-blue-200 */
        
        color: #96A4C8;

    }
    .service-progress , .services-name , .navigation , .service-icons{
        display: none;
    }

    .service-progress2{
        margin-top: 20px;
        display: flex;
        width: 100%;
        border-radius: 14px;
        height: 7px;
        /* neutral-grey-100 */

        background: #F7F7F7;
    }

    .service-progress2 span{
        display: flex;
        height: 100%;
        width: 25%;
        /* neutral-grey-700 */
        border-radius: 14px;
        background: #A3A3A3;
    }

}