.container-technologies{

    background-color: var(--secondary-green-500);

}

.technologies{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 100px;
    height: 500px;
    max-width: 1728px ;
    margin: auto;
   
}

.logo-techo{
    display: flex;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #B2D6CA;
    border-radius: 50%;
}

.logo-techo img{
    display: block;
    width: 75%;
}

.technos{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    gap: 25px;
    justify-content: space-between;
}

.circle-techno{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #E6F2EE;
    height: 100px;
    width: 100px;
    border-radius: 50%;


}

.circle-techno img {
    width: 60%;
}

@media screen and ( max-width:992px){
    .technologies{
        padding: 30px;
    }

    .logo-techo{
        width: 200px;
        height: 200px;
        
    }

    .technos {
        width: 200px;
        height: 200px;
    }

    .circle-techno{
        height: 75px;
        width: 75px;
    
    }
}

@media screen and ( max-width:572px){
    .technologies{
        display: block;
        position: relative;
        overflow: hidden;

    }
    
    .technos{
        position: absolute;
        height: 0;
        width: 0;
    }

    .circle-techno{
       
        position: absolute;
        transform: scale(0.75);
    }
    
    .logo-techo{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        transform: translate(-50% , -50%);

    }

    .shap{
        left: 30px;
        top: 350px;
    }
    .xamarin{
        left: 200px;
        top: 50px;
    }

    .js{
        top: 350px;
        left: 200px;
    }
}