.travaux-container{
    background-color: #E6F2EE ;
   
   
   
    
}
.travaux{
    box-sizing: content-box !important;
        padding: 100px;
    max-width: 1728px;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-flow: column wrap;
    gap: 10px;   
    height: 1000px;

 
}
.travaux .travaux-text , .card-travaux {

    width: 50%;
    margin: 0;
    padding: 0;
}

.travaux .travaux-text{
    padding-left: 10px;
}


.travaux-text{
    min-height: 250px;
}

.travaux-text h1{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
}
.travaux-text-mobile{
    display: none;
}
.travaux-text p{
    margin-bottom: 30px;
}
.card-travaux{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height:400px;
    border-radius: 5px;
}

.bloo{
   background-image: url('../assets/img/presentation3.png');
    background-size: cover ;
}

.card-footer{
    border-radius: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color:var(--secondary-green-500) ;
    height: 70px;
    color: #fff;
}

.play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px !important;
    height: 40px;
    background-color: #B2D6CA;
    
}

@media screen and ( max-width:992px ) {
    .travaux-container{

        padding: 30px; 
    }
    .travaux{
        padding: 30px;
        max-height: 900px;
    }

    .card-travaux{
        height: 350px;
    }
}

@media screen and (max-width:768px) {
    .travaux{
        max-height: 800px;
    }

    .card-travaux{
        height: 300px;
    }  

}

@media screen and (max-width:562px){
    .travaux-container{
        display: block;
        padding-right: 0px;
    }
    .travaux{
        display: flex;
        flex-flow:row;
        justify-content: start ;
        overflow: hidden;
        align-items: center;
        height: auto;
    
    }
    .travaux{
        padding: 0px;
        max-height: 900px;
    }
    
   .travaux .travaux-text{
       display: none;
    }

    .travaux-text-mobile{
        display: block;
        margin-right: 30px;
    }
    .travaux .card-travaux{
        display: block;
        min-width: 250px;
    }

    .travaux-progress{
        margin-top: 20px;
        display: flex;
        width: 100%;
        border-radius: 14px;
        height: 7px;
        /* neutral-grey-100 */

        background: #F7F7F7;
    }

    .travaux-progress span{
        display: flex;
        height: 100%;
        width: 25%;
        /* neutral-grey-700 */
        border-radius: 14px;
        background: #A3A3A3;
        
    }
}