.travaux-container{
    background-color: #E6F2EE ;
   
   
   
    
}

.travaux-mobile{
    display: none;
}

.travaux{
    box-sizing: content-box !important;
        padding: 100px;
    max-width: 1728px;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-flow: column wrap;
    gap: 10px;   
    height: 1050px;

 
}
.travaux .travaux-text , .card-travaux {

    width: 50%;
    margin: 0;
    padding: 0;
}

.travaux .travaux-text{
    padding-left: 10px;
}


.travaux-text{
    min-height: 250px;
}

.travaux-text h1{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
}
.travaux-text-mobile{
    display: none;
}
.travaux-text p{
    margin-bottom: 30px;
}
.travaux .card-travaux{
    position: relative;
    display: flex;
    justify-content: center;
    height:500px;
    border-radius: 5px;
}

.travaux .card-travaux .card-image{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    z-index: -1;
    
}


.card-footer{
    border-radius: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(87.99deg, #023324 10.78%, #033F2C 39.39%, #04573C 99.37%) ;
    height: 80px;
    color: #fff;
    align-self: flex-end;
    
}

.play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px ;
    height: 40px;
    background-color: #B2D6CA;
    
}


@media screen and ( max-width:1400px ) {
    

    .card-travaux{
        height: 400px;
    }
}

@media screen and ( max-width:992px ) {
    .travaux-container{

        padding: 30px; 
    }
    .travaux{
        padding: 30px;
        max-height: 650px;
    }

    .travaux .card-travaux{
        height: 300px;
    }
}

@media screen and (max-width:768px) {
    .travaux{
        max-height: 800px;
    }

    .travaux .card-travaux{
        height: 300px;
    }  

}

@media screen and (max-width:562px){

    .travaux-container{
        display: block;
      
    }
 
   .travaux {
       display: none;
    }

    .travaux-text-mobile{
        display: block;
    } 
    .travaux-mobile {
        display: block;
    }
    .travaux-mobile .card-travaux-mobile {
        box-sizing: content-box !important;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        flex-flow: column wrap;   
        height: 300px;

    }
    .travaux-mobile .card-travaux-mobile .card-travaux{
        
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        width: 100%;
    }

    .travaux-mobile .card-travaux .card-image{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        position: absolute;
        z-index: -1;
        
    }


}

.react-swipeable-view-container{
    min-height: auto !important;

}

.css-1ujvf5m-MuiPaper-root-MuiMobileStepper-root{
    background-color: rgba(2, 51, 36 ,.0) !important; 
}

.css-1be5mm1-MuiLinearProgress-root-MuiMobileStepper-progress{
    background-color: #B2D6CA !important;
}

.css-5xe99f-MuiLinearProgress-bar1{
    background-color: #04573C !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root{
    color: #033F2C !important;
}